<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, superscript: true, strikethrough: true, tables: true, fenced_code_blocks: true) %>

<div class="container portfolio-container">
  <div class="row outline">
    <div class="col-md-7">
      <%= image_tag portfolio_img(@portfolio_item.main_image, 'main'), width: '100%' %>
    </div>

    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>
      <%= link_to "Back to Portfolio", portfolios_path, class: 'btn btn-warning' %>
      <hr>
      <h3>Technologies: </h3>
      <% @portfolio_item.technologies.each do |t| %>
        <p><%= t.name %></p>
      <% end %>
      <hr>
      <% if logged_in?(:site_admin) %>
        <div class="">
          <%= link_to "Edit Item", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
    
    <div class="col-md-12">
    <%= markdown.render(@portfolio_item.body).html_safe %>
    </div>

  </div>
</div>