<section class="jumbotron-transparent text-center">
<%= video_tag(
              'merged_day_first.mp4',
              id: 'backgrounda',
              autoplay: true,
              loop: true,
              muted: true,
              poster: 'home_bg.png'
            )
            %>
  <div class="container">
    <h1 class="jumbotron-heading">Mohamed's Portfolio</h1>
    <%=image_tag("profilecut.png", class:"ovalprofile")%>
    <h1 class="cover-heading"> Welcome to my Portfolio! Please don't be shy, click around on my site and make use of the drop down to filter by technologies!</p>
    <p>
      <%= link_to 'Back to Portfolio Page', portfolios_path, class: 'btn btn-primary' %>
      <%= link_to 'My Blog', blogs_path, class: 'btn btn-secondary' %>
    </p>

    <%=select_tag "portfolio", 
    options_from_collection_for_select(@technologies, "name", "name"), 
    include_blank: true,
    id:"select_tag_id",
    data: {
      remote: true,
      url: '/portfolios',
      method: 'get'
    }
    %>
   
  </div>
</section>

<script>
    $('#select_tag_id').bind('change', function() { window.location.href =  "?q=my+website+and+clicking+around&portfolio=" + $(this).val() });
</script>
