<br>
<br>
<br>
<br>


<div class="app-card-container">
  <div class="card">
    <h1 class = "abouthead">About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p class = "pbody">
          I am an atypical Med School drop out turned coder. In my experience, being a care provider does not allow room for creativity- only compliance. Sitting through a pharmacology lecture one afternoon, I had a shattering realization that I may never have the chance to be innovative.
        </p>

        <p class = "pbody">
          Since then you can say I have had an acute onset of coding fever. I love visualizing data and manipulating code to reach desired outcomes. I would get my fix whenever I could. Coding recreationally on weekends and eventually through any and all pharmacology lectures. After finishing my second year of Optometry school at Cal Berkeley, I dropped out to expand my background in CS and haven't looked back since.
        </p>

        <%= render 'about_buttons' %>
        <%= render 'about_job_history' %>
        <%= render 'about_education' %>
        <%= render 'about_press' %>
      </div>
  </div>
</div>